    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="footer-widget">
              <h4>About Famihikeep</h4>
              <p>Our team would be happy to help you to keep your family history for future generations. There are different types of solutions with unique designs, family tree posters, design and print of family books, and photo restoration services that we can suggest to you in our online store; and gifts, handmade from natural leather, will create a joyful atmosphere in your home.
              </p>
              <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="footer-link">
              <h4>Information</h4>
              <ul>
                <li>
                  <form id="contactForm ">
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <div class="form-group ">
                                        <input type="text " class="form-control " id="name " name="name " placeholder="Your Name " required data-error="Please enter your name ">
                                        <div class="help-block with-errors "></div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group ">
                                        <input type="text " placeholder="Your Email " id="email " class="form-control " name="name " required data-error="Please enter your email ">
                                        <div class="help-block with-errors "></div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group ">
                                        <input type="text " class="form-control " id="subject " name="name " placeholder="Subject " required data-error="Please enter your Subject ">
                                        <div class="help-block with-errors "></div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-group ">
                                        <textarea class="form-control " id="message " placeholder="Your Message " rows="4 " data-error="Write your message " required></textarea>
                                        <div class="help-block with-errors "></div>
                                    </div>
                                    <div class="submit-button text-center ">
                                        <button class="btn hvr-hover " id="submit " type="submit ">Send Message</button>
                                        <div id="msgSubmit " class="h3 text-center hidden "></div>
                                        <div class="clearfix "></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="footer-link-contact">
              <h4>Contact Us</h4>
              <ul>
                <li>
                  <p><i class="fas fa-map-marker-alt"></i>Cedar Cres SW, <br>Calgary, Alberta, <br>T3C 2Y8
                  </p>
                </li>
                <li>
                  <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-5874294048">+1 (587) 429-4048</a></p>
                </li>
                <li>
                  <p><i class="fas fa-envelope"></i>Email: <a
                      href="mailto:contact@famihikeep.com">contact@famihikeep.com</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Footer  -->

  <!-- Start copyright  -->
  <div class="footer-copyright">
    <p class="footer-company">
      <a href="#">Famihikeep.com</a>
      &copy; All rights reserved.
    </p>
    <p class="footer-company">
      Developed By:
      <a href="https://github.com/delicacystudios/">NateAles</a>
    </p>
  </div>
  <!-- End copyright  -->

  <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

  <!-- ALL JS FILES -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/navbar.js"></script>
  <!-- ALL PLUGINS -->
  <script src="js/jquery.superslides.min.js"></script>
  <script src="js/bootstrap-select.js"></script>
  <script src="js/inewsticker.js"></script>
  <script src="js/bootsnav.js."></script>
  <script src="js/images-loded.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/baguetteBox.min.js"></script>
  <script src="js/form-validator.min.js"></script>
  <script src="js/contact-form-script.js"></script>
  <script src="js/custom.js"></script>
  