<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/header'); %>

<body>
  <div style="text-align: center; margin-block: 12%;">
    <h1>
      <span>That page is on the planned shutdown</span>
    </h1>
    <img src="img/tlogo.png" alt=”Logo” style="height: 170px;">
  </div>
</body>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>