<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/header'); %>

<body>
  <div class="services-box-main">
    <div class="container">
      <div class="row my-5">
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>OUR MISSION</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>OUR VISION</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>OUR PHILOSOPHY</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>We are Trusted</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>We are Professional</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="service-block-inner">
            <h3>OUR STORIES</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-12">
          <h2 class="noo-sh-title">Meet Our Team</h2>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="hover-team">
            <div class="our-team"> <img src="images/img-1.jpg" alt="" />
              <div class="team-content">
                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span>
              </div>
              <ul class="social">
                <li>
                  <a href="#" class="fab fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-youtube"></a>
                </li>
              </ul>
              <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper
                quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas
                vulputate. </p>
            </div>
            <hr class="my-0">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="hover-team">
            <div class="our-team"> <img src="images/img-2.jpg" alt="" />
              <div class="team-content">
                <h3 class="title">Kristiana</h3> <span class="post">Web Developer</span>
              </div>
              <ul class="social">
                <li>
                  <a href="#" class="fab fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-youtube"></a>
                </li>
              </ul>
              <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper
                quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas
                vulputate. </p>
            </div>
            <hr class="my-0">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="hover-team">
            <div class="our-team"> <img src="images/img-3.jpg" alt="" />
              <div class="team-content">
                <h3 class="title">Steve Thomas</h3> <span class="post">Web Developer</span>
              </div>
              <ul class="social">
                <li>
                  <a href="#" class="fab fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-youtube"></a>
                </li>
              </ul>
              <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper
                quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas
                vulputate. </p>
            </div>
            <hr class="my-0">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="hover-team">
            <div class="our-team"> <img src="images/img-1.jpg" alt="" />
              <div class="team-content">
                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span>
              </div>
              <ul class="social">
                <li>
                  <a href="#" class="fab fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-google-plus"></a>
                </li>
                <li>
                  <a href="#" class="fab fa-youtube"></a>
                </li>
              </ul>
              <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
            </div>
            <div class="team-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper
                quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas
                vulputate. </p>
            </div>
            <hr class="my-0">
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End Services -->

  <!-- Start Instagram Feed  -->
  <div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-01.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-02.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-03.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-04.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-05.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-06.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-07.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-08.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-09.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ins-inner-box">
          <img src="images/instagram-img-05.jpg" alt="" />
          <div class="hov-in">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer'); %>
</body>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Literata:wght@500&display=swap');

  .brand {
    top: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 40px;
    object-position: center;
  }

  .nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
  }

  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 13px 13px;
    color: #212529;
    margin-right: 5px;
    border-bottom: 2px solid rgba(51, 154, 240, 0);
  }

  .nav-link:hover {
    text-decoration: none;
    background-color: #d0ebff;
    border-bottom-color: rgba(51, 154, 240, 1);
  }

  .nav-link.current {
    border-bottom-color: rgba(25, 113, 194, 1);
  }

  @media (min-width: 768px) {
    .nav {
      font-size: 1.1rem;
      padding-left: 10px;
      padding-right: 10px;
    }

    .nav-link {
      padding: 20px 20px;
    }

  }

  /* More button design */
  .nav-icon {
    padding: 0 5px;
    width: 10px;
  }

  .nav-dropdown.is-active {
    font-family: 'Golos Text', sans-serif;
    font-family: 'Literata', serif;
    display: block;
  }

  .nav-dropdown {
    font-family: 'Golos Text', sans-serif;
    font-family: 'Literata', serif;
    margin-top: 10px;
    display: none;
  }

  @media (min-width: 768px) {
    .nav-dropdown {
      display: inline-block;
      margin-top: 0;
    }

    .with-dropdown {
      display: none;
    }
  }
</style>

<script src="js/navbar.js"></script>

</html>